@font-face {
    font-family: RazerF5;
    src: url(RazerF5.ttf);
}

body {
    margin: 0;
    background-color: RGB(34, 34, 34);
}

nav {
    background-color: black;
    padding: 0px 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #44d62c
}

#navbarlogo {
    width: 35px;
    padding: 15px 50px;
}

#navLinkWrapper {
    display: flex;
    align-items: center;
}

#navLinkWrapper a:hover {
    color: white;
}

#navLinkWrapper a {
    color: grey;
    text-decoration: none;
    font-family: "RazerF5";
    padding: 0px 35px;
    }

#CartIcon {
    width: 20px;
    padding: 10px;
    color: grey;
}

#PopUpBar {
    color: white;
    background-color: rgb(78, 77, 77);
    margin: 0px;
    display: flex;
    justify-content: center;
    font-family: "RazerF5";
    font-size: 15px;
}

#ShopNowLink {
text-decoration: none;
color: white;
}

#shopNowLink:hover {
    text-decoration: underline;
}

#RazerBladeImage {
   height: 615px;
}

.container {
    position: relative;
    text-align: centre;
    color: white;
    font-family: "RazerF5";
    background-image: url("./images/RazerBlade.jpg");
    height: 615px;
    background-position: center;
    margin-bottom: 10px;
}

.container #top {
    position: absolute;
    top: 12%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 50px;
    text-align: center
}

.container #middle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
}

.container #bottom1 {
    position: absolute;
    top: 26%;
    left: 43.5%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 19px;
}

.container #bottom2 {
    position: absolute;
    top: 26%;
    left: 56%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 19px;
}

#bottom1, #bottom2, #bottomB1, #bottomB2, #bottomC1, #bottomC2:hover {
    text-decoration: underline;
}

#arrow {
    color: #44d62c;
}

.container2 {
    position: relative;
    text-align: centre;
    color: white;
    font-family: "RazerF5";
    background-image: url("./images/RazerHammerhead.jpg");
    height: 615px;
    background-position: center;
    margin-bottom: 10px;
}

.container2 #topB {
    position: absolute;
    top: 5%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 55px;
    text-align: center
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.container2 #middleB {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    
}

.container2 #bottomB1 {
    position: absolute;
    top: 30%;
    left: 44%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.container2 #bottomB2 {
    position: absolute;
    top: 30%;
    left: 57%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.container3 {
    position: relative;
    text-align: centre;
    color: white;
    font-family: "RazerF5";
    background-image: url("./images/KiyoPro.jpg");
    height: 615px;
    background-position: center;
    margin-bottom: 10px;
}

.container3 #topC {
    position: absolute;
    top: 5%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 55px;
    text-align: center
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.container3 #middleC {
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    
}

.container3 #bottomC1 {
    position: absolute;
    top: 30%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.container3 #bottomC2 {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.ProductLink:hover {
    text-decoration-line: underline;
}

#hamburgerMenu {
    display: none;
    margin: 0;
}

@media (max-width: 1200px;) {

    #navLinkWrapper {
        display: none;
    }
}

@Media (max-width: 800px;) {
    
    #navLinkWrapper {
        display: none;
    }

    #hamburgerMenu {
        display: block;
    }
}